<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dots.focus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--IntroActivity-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:protectionLevel="signature"
                android:name="com.dots.focus.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.dots.focus.permission.C2D_MESSAGE" />

    <!--CreateInfoActivity-->

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.parse.push.notification_icon"
                   android:resource="@drawable/com_facebook_button_send_icon"/>

        <activity android:name=".ui.IntroActivity">

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.FriendListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.KickMessagesActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.WeeklyAppUsageChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.DailyAppUsageChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.WeeklyAddictionIndexChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.TopThreeAppUsageChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.AppLeaderBoardChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.DailyReportChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.RadarChartActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.TimePiggyBankActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.ProfileActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.GoalSettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">
        </activity>
        <activity android:name=".ui.IdleSettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">

        </activity>
        <activity android:name=".ui.LockSettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">

        </activity>
        <activity android:name=".ui.NotificationSettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">

        </activity>
        <activity android:name=".ui.FocusCommunityActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.AdvancedSettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/SecondaryAppTheme">

        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CreateInfoActivity"></activity>

        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/drawer_item_dashboard"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/app_id"/>
        <service
            android:name=".service.GetFriendInviteService"
            android:label="@string/app_name"
            />
        <service
            android:name=".service.GetFriendConfirmService"
            android:label="@string/app_name"
            />
        <service
            android:name=".service.GetCurrentAppsService"
            android:label="@string/app_name"
            />
        <service
            android:name=".service.GetAppsService"
            android:exported="false"/>
        <service
            android:name=".service.GetKickedService"
            android:label="@string/app_name"
            />
        <service
            android:name=".service.GetKickResponseService"
            android:label="@string/app_name"
            />
        <service
            android:name=".service.TrackAccessibilityService"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.dots.focus" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.HourReceiver">
            <intent-filter>
                <action android:name="an_hour_is_up" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
