<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dots.focus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--IntroActivity-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--CreateInfoActivity-->

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FocusAppTheme" >

        <activity android:name=".ui.IntroActivity">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CreateInfoActivity"></activity>

        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/drawer_item_dashboard"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.InboxActivity"
            android:label="@string/drawer_item_inbox"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.TimelineActivity"
            android:label="@string/drawer_item_timeline"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/drawer_item_profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/drawer_item_settings"
            android:screenOrientation="portrait"/>
    <!--<activity-->
            <!--android:name=".ui.TimelineActivity"-->
            <!--android:label="@string/drawer_item_timeline"-->
            <!--android:theme="@style/MaterialDrawerTheme.TranslucentStatus"/>-->
        <!--<activity-->
            <!--android:name=".ui.OverviewActivity"-->
            <!--android:label="@string/drawer_item_overview"-->
            <!--android:theme="@style/MaterialDrawerTheme.TranslucentStatus"/>-->

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/app_id"/>

        <service
            android:name=".service.GetAppsService"
            android:exported="false"/>


    </application>

</manifest>
